@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    width: 100%;
}

body {
    font-family: $primaryFont;
}

#header {
    background-image: url('../image/background_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1080px;
}

.top_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 48px 0 48px;

    .nav_menu {
        display: flex;
        align-items: center;

        ul {
            display: flex;

            li {
                list-style-type: none;
                margin-right: 30px;

                a {
                    text-decoration: none;
                    color: $primaryColor;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    transition: all .4s ease;

                    &:hover {
                        color: $secondColor;
                    }
                }
            }
        }

        .nav_menu_btn {
            padding: 6px 15px 6px 17px;
            background: rgba(255, 255, 255, 0.28);
            border: none;
            border-radius: 45px;
            color: $primaryColor;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;
            transition: all .4s ease;

            &:hover {
                background-color: $secondColor;
            }
        }
    }
}

.bottom_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 174px 105px 0 134px;

    .col_left {
        h1 {
            font-weight: 600;
            font-size: 90px;
            line-height: 119%;
            letter-spacing: -0.02em;
            color: $primaryColor;
            margin-bottom: 26px;
            margin-right: 57px;
        }

        .sub_title {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: $primaryColor;
            margin-bottom: 68px;
        }
        .btns {
            display: flex;
            align-items: center;
            .header_btn {
                padding: 15px 43px 15px 51px;
                background: #1BDC51;
                border: none;
                border-radius: 60px;
                font-weight: 600;
                font-size: 20px;
                margin-right: 15px;
                line-height: 30px;
                color: $primaryColor;
                cursor: pointer;
                transition: all .4s ease;
    
                &:hover {
                    background-color: darken($color: #1BDC51, $amount: 10);
                }
            }
    
            .header_btn_demo {
                padding: 15px 40px 15px 39px;
                background: transparent;
                border: 1px solid #FFFFFF;
                border-radius: 60px;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: $primaryColor;
                cursor: pointer;
                transition: all .4s ease;
    
                &:hover {
                    background-color: $secondColor;
                    border-color: $secondColor;
                }
        }
        }
    }
}

#inform_block .inner_block {
    padding: 90px 172px 84px 170px;
    margin-bottom: 8px;

    .line {
        border: 2px solid rgba(124, 125, 126, 0.49);
        width: 80px;
        height: 0;
        margin: 0 auto;
        margin-bottom: 33px;
    }

    h1 {
        text-align: center;
        font-weight: 500;
        font-size: 48px;
        line-height: 126.5%;
        color: $secondColor;
        margin-bottom: 25px;
    }

    p {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 176%;
        color: rgba(58, 88, 110, 0.7);
        margin-bottom: 43px;
    }

    button {
        display: block;
        margin: 0 auto;
        background: rgba(177, 227, 191, 0.32);
        border-radius: 56px;
        border: none;
        padding: 27px 85px;
        font-weight: 500;
        font-size: 20px;
        line-height: 126.5%;
        color: #3B9F57;
        cursor: pointer;
        transition: all .4s ease;

        &:hover {
            background-color: #3B9F57;
            color: $primaryColor;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

#block_3 {
    background: #F1F7FB;
    margin-top: 83px;

    .inner_block {
        padding: 67px 101px 125px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .col_left img {
            width: 671px;
            height: 663px;
        }

        .col_rigth {
            margin-left: 112px;

            h1 {
                font-weight: 500;
                font-size: 64px;
                line-height: 126.5%;
                color: $secondColor;
                margin-bottom: 28px;
            }

            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 33px;
                color: rgba(58, 88, 110, 0.85);
                margin-bottom: 54px;
            }

            .btns_block {
                margin-bottom: 48px;

                .btn_try {
                    margin-right: 28px;
                    padding: 16px 45px;
                    background: #3E7399;
                    box-shadow: 0px 6px 10px rgba(188, 191, 192, 0.34);
                    border-radius: 45px;
                    border: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    opacity: 0.8;
                    color: $primaryColor;
                    cursor: pointer;
                    transition: all .4s ease;

                    &:hover {
                        background-color: $primaryColor;
                        color: #3E7399;
                    }
                }

                .btn_demo {
                    padding: 16px 45px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 11px rgba(193, 189, 189, 0.12);
                    border-radius: 45px;
                    border: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    color: #3E7399;
                    cursor: pointer;
                    transition: all .4s ease;

                    &:hover {
                        background-color: #3E7399;
                        color: $primaryColor;
                        opacity: 0.8;
                    }
                }
            }

            .line {
                border: 1px solid rgba(62, 115, 153, 0.18);
                width: 153px;
                margin-bottom: 51px;
            }

            .rating {
                display: flex;
                justify-content: start;

                .rating_stars {
                    margin-right: 24px;
                    width: 145px;
                }

                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: rgba(58, 88, 110, 0.79);

                    span {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 27px;
                        color: #3A586E;
                    }
                }
            }
        }
    }
}

#footer .inner_footer {
    padding: 160px 192px 160px 139px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .col_left {
        margin-right: 234px;

        .logo {
            margin-bottom: 7px;
        }

        p {
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: rgba(58, 88, 110, 0.8);
        }
    }

    .col_rigth {
        .row_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .row_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .col_1 {
            margin-right: 83px;

            .footer_title {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: $secondColor;
                margin-bottom: 7px;
            }

            .footer_menu li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                color: rgba(58, 88, 110, 0.8);
            }
        }
    }
}