/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #header {
    height: 800px;
  }
  .bottom_header .col_rigth img {
    display: none;
  }
  .bottom_header .col_left h1 {
    text-align: center;
    font-size: 68px;
  }
  .bottom_header .col_left .sub_title {
    text-align: center;
  }
  .bottom_header .col_left .btns {
    justify-content: center;
  }
  #inform_block .inner_block p {
    font-size: 16px;
  }
  #inform_block .inner_block button {
    padding: 20px 60px;
  }
  #inform_block .inner_block img {
    width: 700px;
  }
  #block_3 .inner_block .col_left img {
    display: none;
  }
  #block_3 .inner_block .col_rigth .line {
    width: 100%;
  }
  #footer .inner_footer {
    padding: 80px 192px 80px 139px;
  }
  #footer .inner_footer .col_left {
    margin-right: 40px;
  }
  #footer .inner_footer .col_rigth .row_top {
    align-items: baseline;
  }
  #footer .inner_footer .col_rigth .row_bottom {
    align-items: baseline;
  }
  #footer .inner_footer .col_rigth .col_1 {
    margin-right: 40px;
  }
  #footer .inner_footer .col_rigth .col_1 .footer_title {
    font-size: 16px;
  }
  #footer .inner_footer .col_rigth .col_1 a {
    font-size: 12px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
